* {
    margin: 0;
    padding: 0;
}

$main-container-width: 1200px;
$main-conatiner-width-non-desktop:100%;

@mixin grid-common-div {
    div {        
        background-color: #ccc;
        padding: 20px;

        &:nth-child(odd) {
            background-color: #efefef;
        }
    }
}

@mixin grid-template-one-column {
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

header {
    .header-content {
        width: $main-container-width;
        margin: 0 auto;
        border-bottom: 1px solid #e5e5e5;
    }

    @media screen and (max-width: 1000px) {
        .header-content {
            width: $main-conatiner-width-non-desktop;
        }
    }
        
    
}

.container-main {
    width: $main-container-width;
    margin: 16px auto;

    @media screen and (max-width: 1000px) {
        width: $main-conatiner-width-non-desktop;
    }

    .grid-display-1 {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 20px;

        @include grid-template-one-column;

        @include grid-common-div;
    }

    .grid-display-2 {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-column-gap: 20px;
        grid-row-gap:10px;

        @include grid-template-one-column;
        @include grid-common-div;
    }

    .grid-display-3 {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100px 200px 300px 400px;
        grid-gap:20px;

        @include grid-template-one-column;
        @include grid-common-div;
    }

    .grid-display-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:20px;
        

        @include grid-template-one-column;
        @include grid-common-div;
    }

    .grid-display-5 {
        display: grid;
        grid-template-columns: 75% 25%;;        
        grid-gap:20px;

        @include grid-template-one-column;
        @include grid-common-div;

        .nested{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:20px;
            
        
            div{                
                border: 1px solid #000;
            }
        }
    }
}

.mt-4{
    margin-top:8px;
}

.mt-8{
    margin-top:16px;
}

.mt-16{
    margin-top:32px;
}

.mt-24{
    margin-top:48px;
}

.mt-32{
    margin-top:64px;
}

